{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% include 'includes/_navbar.html' %} {% block title %} Drugs {% endblock %}
 {% block body %}

<div class="">
    <div class="">
        <div class="">
            <div class="inner">
                <div class="center">
                    {% if locations %}
                    <div class="w-75 mx-auto">
                        <div class="mb-3 mt-5">
                           
                            <table class="table table-responsive-sm table-bordered table-hover table-light table-striped">
                                <thead class="thead-dark">
                                  <tr>
                                    <th class="text-center">S/N</th>
                                    <th class="text-center">Drug Name</th>
                                    <th class="text-center" colspan="2">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for location in locations %}
                                  <tr>
                                    <th class="text-center" scope="row">{{location.id}}</th>
                                    <td class="text-center">{{location.name}}</td>
                                    <td class="d-flex justify-content-around">
                                        <a href="" class=" "><i class="fa fa-edit"></i></a>
                                        <a href="" >
                                            <i class="fa fa-trash"></i> 
                                        </a>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>
                              </table>
                            
                            
                            
                        </div>
                    </div>
                    
                   
                   <div class="text-center">
                    {% else %}
                    <div class="mx-auto text-center mt-3">
                        <h3 class="badge badge-danger float-left m-1"> No location have been added. </h3>
                        <hr class="intro-divider"> {% endif %}
                        <a href="{{url_for('admin.add_location')}}" class="mx-auto btn btn-custom btn-lg">
                            <i class="fa fa-plus"></i> Add Location
                        </a>
                    </div>
                </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}