{% extends "/base.html" %}

{% block body %}
{% include 'includes/_navbar.html' %}
    <div class="container">
        <div class="card mx-auto register-card mt-5">
            <div class="card-body">
                <form method="POST" action="">
                    {{ form.csrf_token }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 login100-form-title">Register Today</legend>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{form.first_name.label(class="form-control-label")}}
                                {% if form.first_name.errors %}
                                  {{form.first_name(class="form-control form-control-lg is-invalid")}}
                                  <div class="invalid-feedback">
                                      {% for error in form.first_name.errors %}
                                          <span>{{error}}</span>
                                      {% endfor %}
                                   </div>
                                {% else %}
                                  {{form.first_name(class="form-control form-control-lg")}}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                {{form.last_name.label(class="form-control-label")}}
                                {% if form.last_name.errors %}
                                  {{form.last_name(class="form-control form-control-lg is-invalid")}}
                                  <div class="invalid-feedback">
                                      {% for error in form.last_name.errors %}
                                          <span>{{error}}</span>
                                      {% endfor %}
                                  </div>
                                {% else %}
                                  {{form.last_name(class="form-control form-control-lg")}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
        
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_pass.label(class="form-control-label") }}
                            {% if form.confirm_pass.errors %}
                                {{ form.confirm_pass(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_pass.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_pass(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-info btn-sm") }}
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already Have An Account?<a class="ml-2" href="{{url_for('auth.login')}}">Log In</a>
                    </small>
                </div>
            </div>
            </div>
        </div>
       
        
        
{% endblock body %}